<!doctype html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Festiut’O</title>
            <link rel="icon" href="{{ url_for('static', filename = 'images/logo.png')}}"/>
            {% block styles %}
                <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="Le logo du fetival">
            <h1>FESTIUT'O</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Accueil</a></li>
                    <li><a href="{{ url_for('billeterie') }}">Billeterie</a></li>
                    <li><a href="{{ url_for('home') }}">Le festival</a></li>
                    <li id="search">
                        <form method="POST" action="{{ url_for('search') }}" class="form-inline " role="search">
                            <input class="form-control form-control-sm mr-3" type="search" placeholder="Rechercher un artiste" aria-label="Rechercher" name="searched">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                    </li>
                    {% if not current_user.is_authenticated %}
                        <li><a href="{{ url_for('login') }}">Se connecter</a></li>
                    {% else %}
                        <li><a href="{{ url_for('profil', id_spectateur = current_user.id_spectateur ) }}">Profil</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.admin %}
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <ul>
                <li><a href="">Contactez Nous</a></li>
                <li><a href="">Acceuil</a></li>
                <li><a href="">Billeterie</a></li>
                <li><a href="">Festival</a></li>
                <li><a href="">Se connecter</a></li>
                <li><p>IUT d'Orléans | Nathan PIGOREAU, Anthony GARDELLE</p></li>
            </ul>
        </footer>
        {% block scripts %}
        {% endblock %}
    </body>
</html>