<!doctype html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        {% endblock %}
            <title>Festiut’O</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Accueil</a></li>
                    <li><a>Billeterie</a></li>
                    <li><a>Le festival</a></li>
                    <li id="search">
                        <form method="POST" action="{{ url_for('search') }}" class="form-inline " role="search">
                            <input class="form-control form-control-sm mr-3" type="search" placeholder="Rechercher un artiste" aria-label="Rechercher" name="searched">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                    </li>
                    <li><a>Se connecter</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
        </footer>
        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>