{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/favoris.css') }}">
{% endblock %}
{% block content %}
<div id="lesgroupes">
    {% for favori in favoris %}
    <div class="groupe">
    {% with photo = favori.get_group().get_photo().url_photos %}
        {% if photo.startswith("https") %}
                <a href="{{ url_for('groupe', id_group = favori.get_group().id_groupe ) }}"><img src="{{photo}}" alt=""></a>
        {% else %}
                <a href="{{ url_for('groupe', id_group = favori.get_group().id_groupe ) }}"><img src="{{url_for('static', filename = photo)}}" alt=""></a>
        {% endif %}
    {% endwith %}
    {% if favori.get_group().get_nb_membres() > 1 %}
        <h4>Où les retrouvez ?</h4>
    {% else %}
        <h4>Où le/la retrouver ?</h4>
    {% endif %}
    {% for concert in favori.get_group().get_concerts() %}
        <p>{{ concert.nom_concert }} - {{ concert.get_scene().date_debut_concert }} - {{ concert.duree_concert }}</p>
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}