{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/sinscrire_activite.css') }}">
{% endblock %}
{% block content %}
<div>
    <h2>S'inscrire au concert {{ concert.nom_activite }}</h2>
    <ul>
        <li>Le {{ concert.date_concert.strftime("%d/%m/%Y") }} </li>
        <li>De {{ concert.heure_debut_concert.strftime("%Hh %Mm %Ss") }} à {{ concert.get_date_fin().strftime("%Hh %Mm %Ss") }}</li>
    </ul>
    {% if current_user.is_authenticated %}
        {% if not concert.est_inscrit(current_user.id_spectateur) %}
            <a href="{{ url_for('bouton_sinscrire_concert', id_concert = concert.id_concert, id_spectateur = current_user.id_spectateur) }}"><button>S'inscrire</button></a>
        {% else %}
            <a href="{{ url_for('bouton_desinscrire_concert', id_concert = concert.id_concert, id_spectateur = current_user.id_spectateur) }}"><button>Se désinscrire</button></a>
        {% endif %}
    {% else %}
        <a href="{{ url_for('login') }}"><button>Se connecter</button></a>
    {% endif %}
</div>
{% endblock %}